<div class="mt-4">
    <form method="GET" action="/news">
        <br class="form-group">
            <label for="search-input">Từ khóa</label><br>
            <br><input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa...">
        </div><br>

        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>