.card-course-item {
  margin-top: 16px; }

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%; }

.navbar-collapse {
  flex-grow: 0; }

a,
.btn {
  text-decoration: none; }

.select-all-options {
  width: 180px;
  margin-left: 8px;
  margin-right: 8px; }
